<header id="navbar">
	<nav class="navbar-container container">
		<b><a href="/" class="home-link">{{ site.title }}</a></b>
		<button type="button" class="navbar-toggle" aria-label="Open">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-menu">
			<ul class="navbar-links">
				<li class="navbar-item"><a class="navbar-link" href="/about.html">About</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/contact.html">Contact</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/donate.html">Donate</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/learn.html">Learn</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/projects.html">Projects</a></li>
			</ul>
		</div>
	</nav>
</header>
